.pokemon {
  display: grid;
  place-content: center;
  .wrapper_1 {
    display: flex;
    gap: var(--md);

    .name {
      text-transform: capitalize;
    }
    .heart {
      color: var(--red);
    }
  }
}
