.pokemon {
  display: grid;
  place-content: center;
  justify-items: center;
  .wrapper_1 {
    display: flex;
    gap: var(--md);

    .name {
      text-transform: capitalize;
    }
    .wrapper_hearts {
      color: var(--red);
      background-color: transparent;

      .heart_empty {
      }
      .heart_full {
      }
    }
  }
}
