---
import Layout from "@layouts/Layout/Layout.astro";
import { get_pokemons_fetch } from "./get_pokemons_fetch";
import css from "./Index.module.css";
import Card from "@components/cards/Card/Card.astro";

const pokemons = await get_pokemons_fetch();
---

<Layout title="Inicio">
  <main class={css.index}>
    <h1>Lista de pokemons</h1>
    {pokemons.results.map((result) => <Card title={result.name} img={result.img as string} />)}
  </main>
</Layout>

<script>
  import "./Index.script.ts";
</script>
